body {
    display: flex;
}




.galery {
margin: auto;
height: 260px;
width: 500px;
overflow: hidden;
}
.slides {
    display: flex;
}
.galery .slides {
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes animacao {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -500px; }
    45% {margin-left: -500px;}
    50% {margin-left: -1000px;}
    70% {margin-left: -1000px;}
    75% {margin-left: -1500px;}
    95% {margin-left: -1500px;}
    100% {margin-left: -2000px;}
}
.Slide {
    display: block;
    height: 300px;
    min-width: 500px;
    padding-top: 0;
}
.Slide h1 {
    font-size: 3em;
}